* {
    margin: 0;
    padding: 0;
    }

    canvas{
        margin: 0;
        padding: 0;
        display: block; /*  ¯\_(ツ)_/¯  */
        touch-action: none; 
      }

      




.navigation{
    font-family: franklin-gothic-urw, sans-serif;
    font-weight: 700;
    font-size: 1.5vw;
    position:fixed;
    z-index: 999999999;
    margin-top:1vw;
    margin-left:1vw;

}

#three{
    margin-left:80vw;
    margin-top:-2vw;
}




#title{
    position: fixed;
    font-family: franklin-gothic-urw, sans-serif;
    font-weight: 900;
    font-size:10vw;
    margin-top:13vw;
    margin-left:2vw;
    font-style:italic; 
    animation: fade-in2 5s;

}

@keyframes fade-in2 {
    from {opacity: 0; }
    to {opacity: 1;}
}




.text1{
    position:absolute;
    width:30vw;
    font-size: 1.2vw;
    font-family: franklin-gothic-urw, sans-serif;
    margin-left:50vw;
    margin-top:14.5vw;
    font-weight: 300;
    line-height: 1.8vw;
    z-index: 999999;
    animation: fade-in 2s;

}

@keyframes fade-in {
    from {opacity: 0; transform:scale(.7,.7) rotate(25deg);top:-80px;}
    to {opacity: 1;top:0px;}
}


h1{
    font-weight:900;
    font-size: 2.8vw;
    margin-top:2vw;
}

#ch1{
    position:absolute;
    margin-left: -24vw;
    z-index: -1;

}

#body1{
    margin-top:13vw;
    animation: fade-in 2s;
    

}



/* 
.text2 div.hidden{
    opacity:0;
}

.body2 div.hidden{
    opacity:0;
} */


.text2{
    position:absolute;
    width:30vw;
    font-size: 1.2vw;
    font-family: franklin-gothic-urw, sans-serif;
    margin-left:250vw;
    margin-top:18.2vw;
    z-index: 999999;
    font-weight: 300;
    line-height: 1.8vw;
    animation: fade-in 2s;
}
#ch2{
    position:absolute;
    margin-left: -27.3vw;
    margin-top:1.3vw;

}

#body2{
    position:absolute;

}






.grid{
    opacity:0.2;
    position:absolute;
}

.images1{
    position:absolute;
    background-color: #f7f7f9;

}
.images1 div{
    opacity:1;
}

/* .images1 div.opacity1{
    opacity:1;
    transition: opacity 1s linear;
} */

/* .images1 div.opacity2{
    opacity:0.5;
    transition: opacity 0.5s linear;
}

.images1 div.opacity3{
    opacity:1;
    transition: opacity 0.5s linear;
} */










#c1{position:absolute;
    margin-left:103vw;
    margin-top:0vw;
}

#c2{position:absolute;
    margin-left:118vw;
    margin-top:24vw;

}

#c3{
    position:absolute;
    margin-left:146vw;
    margin-top:3vw;
    
}

#c4{
    position:absolute;
    margin-left:200vw;
    margin-top:34vw;
    
}

#c5{
    position:absolute;
    margin-left:210vw;
    margin-top:1vw;
    
}

#c6{
    position:absolute;
    margin-left:165vw;
    margin-top:18vw;
    
}

#c7{
    position:absolute;
    margin-left:235vw;
    margin-top:40vw;
    
}

#c8{
    position:absolute;
    margin-left:220vw;
    margin-top:0vw;
    
}


#c9{
    position:absolute;
    margin-left:270vw;
    margin-top:35vw;
    
}



#c10{
    position:absolute;
    margin-left:290vw;
    margin-top:10vw;
    
}


